/* ************************************************************************** */
/* Global da Página                                                           */
/* ************************************************************************** */

body{
	padding-top: 44px;
    background-color: #080826;
}

/* ************************************************************************** */
/* Navbar da Página                                                           */
/* ************************************************************************** */

.navbar-brand{
	padding: 9px 15px;
}

.navbar-nav>li>.dropdown-menu{
	background-color: #080826;
}

.dropdown-menu>li>a{
	color: #ffffff;
}

.dropdown-menu>li>a:hover{
	background-color: #a37b40;
	color: #080826;
}

.navbar-inverse{
    background-color: #080826;
    border-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #a37b40;
}

.navbar-inverse .navbar-nav>.open>a:focus{
	background-color: #a37b40;
	color: #080826;
}

.nav.navbar-nav.navbar-right li.userLogged{
	padding: 13px 7px 0px 0;
	color: #ffffff;
}

/* ************************************************************************** */
/* Barra de Navbar da Página                                                  */
/* ************************************************************************** */

#barra-navbar{
	background-color: #a37b40;
    height: 11px;
}

/* ************************************************************************** */
/* Corpo da Página                                                            */
/* ************************************************************************** */

/* ****************************************************** */
/* 		Comum no Corpo das Páginas                        */
/* ****************************************************** */

.geral_container{
    background-color: #ffffff;
    margin: 30px;
    opacity: 0.8;
}

/* ****************************************************** */
/* 		Página Index                                      */
/* ****************************************************** */

.geral_container .container{
    padding-top: 200px;
    padding-bottom: 100px;
}

.col-lg-12{
    width: 100%;
    padding: 0 70px 0 70px;
}

.geral_container .container .row .col-lg-12 .intro-text{
	text-align: center;
}

.geral_container .container .row .col-lg-12 .intro-text span.name{
	font-family: "Futura";
	font-size: 130px;
	color: #a37b40;
}

.geral_container .container .row .col-lg-12 .sub-intro-text{
	background-color: #a37b40;
	text-align: center;
	height: 66px;
    line-height: 66px;
}

.geral_container .container .row .col-lg-12 .sub-intro-text span.skills{
	color: #ffffff;
	opacity: 0.8;
	font-family: "Futura";
	font-size: 28px;
	padding: 0 37px 0 37px;
}

/* ****************************************************** */
/* 		Comum na Página Login e Página Registar           */
/* ****************************************************** */

.container_login, .container_register{
    padding: 80px 455px 41px 470px;
    background-image: url('/assets/img/login_register_formas.png');
    background-repeat: no-repeat;
    width: 1226px;
    height: 556px;
}

/* ****************************************************** */
/* 		Página Login                                      */
/* ****************************************************** */

.container_login .sub-container_login{
	background-color: #080826;
	border-radius: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: #a37b40;
    width: 300px;
    height: 265px;
    opacity: 0.9;
}

.container_login .sub-container_login .row .col-xs-12{
	color: #ffffff;
	padding-bottom: 30px;
}

.container_login .sub-container_login .row .col-xs-8{
	padding-bottom: 20px;
}

.container_login .sub-container_login .row .col-xs-8>input{
	background-color: #ffffff;
	color: #080826;
}

.container_login .sub-container_login .row .col-xs-14{
	padding-bottom: 10px;
}

/* ****************************************************** */
/* 		Página Registar                                   */
/* ****************************************************** */

.container_register .sub-container_register{
	background-color: #080826;
	border-radius: 10px;
	border-width: 5px;
	border-style: solid;
	border-color: #a37b40;
    width: 300px;
    height: 423px;
    opacity: 0.9;
}

.container_register .sub-container_register .row .col-xs-12{
	color: #ffffff;
	padding-bottom: 30px;
}

.container_register .sub-container_register .row .col-xs-8{
	padding-bottom: 20px;
}

.container_register .sub-container_register .row .col-xs-8>input{
	background-color: #ffffff;
	color: #080826;
}

.container_register .sub-container_register .row .col-xs-14{
	padding-bottom: 10px;
}